<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>瘦瘦瘦瘦瘦耶</title>
	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/jquery.pin.js"></script>
	<link rel="stylesheet" href="/css/Smohan.blog.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="/css/modern.css"> -->
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/bootstrap.min.js"></script>
	// <script src="/js/metro.min.js"></script>
	<script src="/js/Smohan.blog.plug.js"></script>
</head>
<body>
	<%- include header %>
	<div class="container">
		<div id="container">
		  	<div class="timeline_container" style="border:1px solid green;">
		    	<div class="timeline">
		      		<div class="plus"></div>
		      		<div class="plus2"></div>
		    	</div>
		  	</div>
		  	<div class="item">
		    	<h3> <span class="fl">柳州一通网</span> <span class="fr">IP：221.7.207***&nbsp;&nbsp;&nbsp;&nbsp;2013-02-21 08:46:29</span> </h3>
		    	<p class="con">帮我做的网站很好，很满意<br />支持一下下。。。</p>
		    	<h4><b>Reply：</b>管理员尚未回复</h4>
		  	</div>
  		</div>
	</div>
	<script>
	$(function(){
		 $('#container').masonry({itemSelector : '.item'});
		 function Arrow_Points(){
	  		var s = $("#container").find(".item");
	 	 	$.each(s,function(i,obj){
				var posLeft = $(obj).css("left");
				if(posLeft == "0px"){
		  		html = "<span class='rightCorner'></span>";
		  		$(obj).prepend(html);
				} else {
		  		html = "<span class='leftCorner'></span>";
		  		$(obj).prepend(html);
				}
	  		});
		}	
		Arrow_Points();
	})
</script>
	<%- include footer%>
</body>
</html>