<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>阴天了</title>
	<script src="/js/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style-metronic.css">
	<!-- <link rel="stylesheet" href="/css/modern.css"> -->
	<link rel="stylesheet" href="/css/style.css">
	
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/metro.min.js"></script>
	<script src="/js/ctl.js"></script>
</head>

<body>
	<%- include header %>
	<div class="container">
		<br /><br />
		<p class="text-center" style="font-size:16px;line-height:30px;color: #999;">
			<span class="h2">关于我 </span>
			<br /><br />
			张某某，23岁，90后小码农一枚。<br /><br />
			星座：处女座。具备处女座除了洁癖以外的所有属性。<br /><br />
			血型：未知，暂且认为自己是自己心目中高大山的B型血吧。（不要问我为什么高大山，我也不知道）<br /><br />
			性格：大部分时候安静，有时候 _(:3」∠)_<br /><br />
			爱好：听歌，电影，闲逛，码代码...<br /><br />
			喜欢的电影：《功夫》，《海上钢琴师》。<br /><br />
			喜欢的音乐：五月天么么哒，周杰伦么么哒，陈奕迅么么哒... ...<br /><br /><br />
			　
			我眼中的我：大龄伪伪文艺青年一枚，不太典型的吃货外加音乐电影的杂食动物。偶尔深沉思考人生。典型的不安于现状的人，渴望去新的地方，认识新的人，做不同的事情。将来最大的愿望，自驾世界游~<br /><br />
			朋友眼中的我：（哈哈哈哈，笑死我了，这逗逼说自己是伪文艺青年）按照人以类聚的说法，整个朋友圈就是个不正常人类研究中心<br /><br />
			（PS:从小到大一直坚持下来的一点就是，一直讨厌写东西。脑袋中少了那么点文学的细胞。所以自我介绍暂且这样，以后慢慢补充）<br /><br />
			完结。撒花~~~<br /><br /><br />

			我的新浪微博：@这只是一个普通的名字<br /><br />
			我的github  ：<a href="http://www.github.com/wjzmm">wjzmm</a>	<br /><br /><br />
			　

			<span class="h2">关于网站 </span>
			<br /><br />
			域名：www.wjzmm.xyz / www.wjzmm.cn <br /><br />
			服务器： 阿里云 <br /><br />
			前端： html + css + js (bootstrap + jquery) <br /><br />
			后端： nodejs + mysql <br /><br /><br />
		</p>
		<div class="back2top">
			<a href="#" title="返回顶部">back to top</a>
		</div>
	</div>
	<%- include footer%>
</body>
</html>