<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>阴天了</title>
	
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style-metronic.css">
	<!-- <link rel="stylesheet" href="/css/modern.css"> -->
	<link rel="stylesheet" href="/css/style.css">
	
</head>

<body>
	<%- include header %>
	<div class="container">
		<br /><br />
		<p class="text-center" style="font-size:16px;line-height:30px;color: #999;">
			<strong class="h2" style="color:black">关于我 </strong>
			<br /><br />
			张某某，23岁，90后小<strong><a href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&rsv_idx=1&tn=baidu&wd=码农" target="_blank" title="码农">码农</a></strong>一枚。<br /><br />
			星座：<strong><a href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&rsv_idx=1&tn=baidu&wd=处女座" target="_blank" title="处女座">处女座</a></strong>。具备处女座除了洁癖以外的所有属性。<br /><br />
			血型：未知，暂且认为自己是自己心目中高大上的<strong><a href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&rsv_idx=1&tn=baidu&wd=B型血" target="_blank" title="B型血">B型血</a></strong>吧。（不要问我为什么高大上，我也不知道）<br /><br />
			性格：大部分时候安静，有时候 _(:3」∠)_<br /><br />
			爱好：听歌，电影，闲逛，码代码...<br /><br />
			喜欢的电影：<strong><a href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&rsv_idx=1&tn=baidu&wd=功夫" target="_blank" title="功夫">《功夫》</a></strong>，<strong><a href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&rsv_idx=1&tn=baidu&wd=海上钢琴师" target="_blank" title="海上钢琴师">《海上钢琴师》</a></strong>。<br /><br />
			喜欢的音乐：<strong><a href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&rsv_idx=1&tn=baidu&wd=五月天" target="_blank" title="五月天">五月天</a></strong>么么哒，<strong><a href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&rsv_idx=1&tn=baidu&wd=周杰伦" target="_blank" title="周杰伦">周杰伦</a></strong>么么哒，<strong><a href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&rsv_idx=1&tn=baidu&wd=陈奕迅" target="_blank" title="陈奕迅">陈奕迅</a></strong>么么哒... ...<br /><br /><br />
			　
			我眼中的我：大龄单身汪一枚，不太典型的<strong><a href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&rsv_idx=1&tn=baidu&wd=吃货" target="_blank" title="吃货">吃货</a></strong>外加音乐电影的杂食动物。偶尔深沉思考人生。典型的不安于现状的人，渴望去新的地方，认识新的人，做不同的事情。将来最大的愿望，<del>自驾世界游~</del><span style="color:black;font-weight:bold">&nbsp;玩玩玩，玩毛线。以后我要做一个自己造轮子的人！</span>

			<br /><br />
			朋友眼中的我：按照人以类聚的说法，整个朋友圈就是个<strong><a href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&rsv_idx=1&tn=baidu&wd=不正常人类研究中心" target="_blank" title="不正常人类研究中心">不正常人类研究中心</a></strong><br /><br />
			（PS:从小到大一直坚持下来的一点就是，一直讨厌写东西。脑袋中少了那么点文学的细胞。所以自我介绍暂且这样，以后慢慢补充）<br /><br />
			完结。撒花~~~<br /><br /><br />

			新浪微博：<strong><a href="http://weibo.com/1756419823/profile?topnav=1&wvr=6" target="_blank" title="这只是一个普通的名字">@这只是一个普通的名字</a></strong><br /><br />
			Github  ：<strong><a href="http://www.github.com/wjzmm">wjzmm</a></strong>	<br /><br /><br />
			　

			<strong class="h2" style="color:black">关于网站 </a></strong>
			<br /><br />
			域名：www.wjzmm.xyz / www.wjzmm.cn（现在的域名真便宜啊真便宜） <br /><br />
			服务器： <strong><a href="http://www.aliyun.com/" target="_blank" title="阿里云">阿里云</a></strong> <br /><br />
			前端：<strong><a href="http://www.bootcss.com/" target="_blank" title="bootstrap">bootstrap</a></strong> + <strong><a href="http://jquery.com/" target="_blank" title="jquery">jquery</a></strong> <br /><br />
			后端： <strong><a href="https://www.nodejs.org" target="_blank" title="nodejs">nodejs</a></strong> <br /><br />
		</p>
		<div class="back2top">
			<a href="#" title="返回顶部">back to top</a>
		</div>
	</div>
	<%- include footer%>
	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/metro.min.js"></script>
	<script src="/js/ctl.js"></script>
</body>
</html>
