<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>阴天了</title>
	<script src="/js/jquery-1.11.3.min.js"></script>
</head>
<body>
	<script type="text/javascript">
		$(function(){
			window.location.href="/";
		})

	</script>
</body>
</html>