<nav>
  <ul class="pager">
    <li class="<% if(first){ %> disabled <% } %>">
    	<a href="<%= tab + (parseInt(page)-1)%>">上一页</a></li>
    <li class="<% if(last){ %> disabled <% } %>">
   	 	<a href="<%= tab + (parseInt(page)+1)%>">下一页</a></li>
  </ul>
</nav>