<nav>
  <ul class="pager">
    <li class="<% if(first){ %> disabled <% } %>">
    	<a href="#">上一页</a></li>
    <li class="<% if(last){ %> disabled <% } %>">
   	 	<a href="#">下一页</a></li>
  </ul>
</nav>