body{
	color:#999;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
a{
	color:#999;
}

a:hover{
	color:black;
	text-decoration: none;
}

button:hover{
	border-color:red;
	background-color: white;
}
.mnav a:hover{
	/*background-color:#FE5187;*/
	
}

@keyframes fonts
{	
	from {font-size: 14px;}
	to {font-size: 18px;}
}

@-moz-keyframes fonts /* Firefox */
{	
	from {font-size: 14px;}
	to {font-size: 18px;}
}

@-webkit-keyframes fonts /* Safari 和 Chrome */
{	
	from {font-size: 14px;}
	to {font-size: 18px;}
}

@-o-keyframes fonts /* Opera */
{	
	from {font-size: 14px;}
	to {font-size: 18px;}
}

header{
	height: 200px;

}
.container{
	margin-top: 60px;
	height: auto;
}
.ptitle{
	border-bottom: 0px dashed #999;
	color:#FE5187;
}
.info{
}
a{
	text-decoration: none;
}
.info:hover{
	color:black;
}
.hot{
	margin-top:40px;
	/*transition:font-size 2s;
	-webkit-transition:font-size 2s;*/
	font-size: 14px;
}
.hot li{

	list-style-type:none;
	margin-top:10px;
}

.hot a{
	color:#999;
	text-decoration: none;
}

.hot a:hover{
	color:black;
	font-size: 16px;
	text-decoration: none;
	animation: fonts 0.1s ease;
	-moz-animation: fonts 0.1s ease;	/* Firefox */
	-webkit-animation: fonts  0.1s ease;	/* Safari 和 Chrome */
	-o-animation: fonts  0.1s ease;	/* Opera */
}

.links{
	margin-top:40px;
	/*transition:font-size 2s;
	-webkit-transition:font-size 2s;*/
	font-size: 14px;
}
.links li{

	list-style-type:none;
	margin-top:10px;
}

.links a{
	color:#999;
	text-decoration: none;
}

.links a:hover{
	color:black;
	font-size: 16px;
	text-decoration: none;
	animation: fonts 0.1s linear;
	-moz-animation: fonts 0.1s linear;	/* Firefox */
	-webkit-animation: fonts  0.1s linear;	/* Safari 和 Chrome */
	-o-animation: fonts  0.1s linear;	/* Opera */
}

.back{
	margin-top:40px;
	height: 300px;
	border:0px solid green;
}
.links{
	margin-top:20px;
}
.links dt{
	margin:10px;
}

.article{
	padding:10px;
}

#footer{
	margin-top: -60px;  
    height: 60px; 
    clear:both; 
}
.pinned{
	top: 80px; 
	position: fixed;
}

.pinned button{
	-webkit-transition: all 1.5s;
	-moz-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s; 
}

.pinned button:hover{
	background-color:white;
	border-color:black;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
.pin{
	bottom: 120px; 
	right:90px;
	height: 32px;
	width: 100px;
	position: fixed; 
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;

}

.pin:hover{
	border-color: red;
	background-color: white;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
.floatb{
	top: 80px; 
	right:90px;
	position: fixed;
}
.page{
	/*position: fixed;
	bottom:100px;
	left:25%;*/
}
.footer{
	margin-top: 10px;
	/*position: fixed;
	bottom:40px;
	left:48%;*/
}

.back2top{
	bottom: 120px;
	height: 32px;
	position: fixed;
	width: 32px;
	z-index: 3;
	right: 220px;
}
.comcon{
	width:80%;
	margin:auto;
	border-bottom:1px solid #999;
	padding:20px 40px 30px 40px;
}

.back2top a{
	background: url(../images/bg_top.png) no-repeat scroll 13px center #D6D6D6;
	border-radius: 32px 32px 32px 32px !important;
	display: block;
	font-size: 0;
	height: 32px;
	line-height: 0;
	overflow: hidden;
	width: 32px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}



@keyframes mani
{	0% {transform:rotate(0deg)translate(0,0);}
	25% {transform:rotate(90deg)}
	50% {transform:rotate(180deg)translate(-300px,0);}
	75% {transform:rotate(270deg);}
	100% {transform:rotate(360deg)translate(0,0);}
}

@-moz-keyframes mani /* Firefox */
{	0% {transform:rotate(0deg)translate(0,0);}
	25% {transform:rotate(90deg)}
	50% {transform:rotate(180deg)translate(-300px,0);}
	75% {transform:rotate(270deg);}
	100% {transform:rotate(360deg)translate(0,0);}
}

@-webkit-keyframes mani /* Safari 和 Chrome */
{	0% {transform:rotate(0deg)translate(0,0);}
	25% {transform:rotate(90deg)}
	50% {transform:rotate(180deg)translate(-300px,0);}
	75% {transform:rotate(270deg);}
	100% {transform:rotate(360deg)translate(0,0);}
}

@-o-keyframes mani /* Opera */
{	0% {transform:rotate(0deg)translate(0,0);}
	25% {transform:rotate(90deg)}
	50% {transform:rotate(180deg)translate(-300px,0);}
	75% {transform:rotate(270deg);}
	100% {transform:rotate(360deg)translate(0,0);}
}

.back2top a:hover{
	background-color: red;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

.item:hover{
	color:black;
}

.content{
	
	padding:10px;
}

.butt:hover{
	border-color:red;
	background-color: white;
}