<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我要工作！</title>
	<script src="/public/js/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/style-metronic.css">
	<!-- <link rel="stylesheet" href="/public/css/modern.css"> -->
	<link rel="stylesheet" href="/public/css/style.css">
	
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/metro.min.js"></script>
</head>

<body>
	<%- include header %>
	<div class="container">
		<table class="mtb table table-default">	
			<tr>
				<td> </td>
			</tr>
			<tr class="text-center">
				<td>平台语言： nodejs + mysql</td>
			</tr>
			<tr class="text-center">
				<td >爬虫部分编码： 张文超， 李爽</td>
			</tr>
			<tr class="text-center">
				<td>web后端编码： 吴严， 惠萃</td>
			</tr>
			<tr class="text-center">
				<td>web前端编码： 雷喆， 陶艳艳</td>
			</tr>
			<tr>
				<td>系统介绍： 本系统通过nodejs爬虫以及相关web展示页面的编写，将比较热门学校的就业信息门户招聘信息抓取保存，汇总后通过web页面统一进行显示。正在寻找工作的应届生可以通过本网站浏览所有感兴趣的页面的招聘信息，而不必一一访问各校就业信息门户，节省时间和精力。如果时间和条件允许，将来的版本还会增加感兴趣招聘信息的订阅，用户订阅后可通过手机短信，邮箱等方式接收最新的招聘信息。 </td>
			</tr>
		</table>
	</div>
	<%- include footer%>
</body>
</html>