<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我要工作！</title>
	<script src="/public/js/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/style-metronic.css">
	<!-- <link rel="stylesheet" href="/public/css/modern.css"> -->
	<link rel="stylesheet" href="/public/css/style.css">
	
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/metro.min.js"></script>
</head>

<body>
		<%- include header %>
		
	<div class="container">
        <ul id="myTab" class="nav nav-tabs">
            <li id="xdtu" class="active" >
                <a href="#">西电</a>
            </li>
            <li id="xjtu" class="" >
                <a href="#">西工大</a>
            </li>
            <li id="nwpu" class="" >
                <a href="#">西交大</a>
            </li>
        </ul>
        <div class="tab-content col-md-12 col-xs-12">
		    <table class="table table-hover" >
              <tr>
                <td>日期</td>
                <td>时间</td>
                <td>地点</td>
                <td>公司</td>
                <td>备注</td>
              </tr>
			  <tr>
                <td style="width:15%;">15年09月07日 </td>
                <td style="width:15%;">19:00-21:00 </td>
                <td style="width:20%;">大礼堂</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29595.html" title="华为技术有限公司" target="_blank">华为技术有限公司</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29595" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月08日 </td>
                <td style="width:15%;">10:00-12:00 </td>
                <td style="width:20%;">J-601</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29593.html" title="工业和信息化部第五研究所" target="_blank">工业和信息化部第五研究所</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29593" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月08日 </td>
                <td style="width:15%;">10:00-12:00 </td>
                <td style="width:20%;">J-608</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29615.html" title="中国船舶重工集团公司第七○一研究所" target="_blank">中国船舶重工集团公司第七○一研究所</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29615" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月08日 </td>
                <td style="width:15%;">16:30-18:30 </td>
                <td style="width:20%;">J-601</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29651.html" title="广州海格通信集团股份有限公司" target="_blank">广州海格通信集团股份有限公司</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29651" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月08日 </td>
                <td style="width:15%;">19:00-21:00 </td>
                <td style="width:20%;">J-114</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29597.html" title="百度" target="_blank">百度</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29597" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月09日 </td>
                <td style="width:15%;">19:00-21:00 </td>
                <td style="width:20%;">J-601</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29599.html" title="北京兆芯电子科技有限公司" target="_blank">北京兆芯电子科技有限公司</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29599" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月09日 </td>
                <td style="width:15%;">19:00-21:00 </td>
                <td style="width:20%;">图书馆3楼报告厅</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29619.html" title="去哪儿网2016校园招聘" target="_blank">去哪儿网</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29619" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月10日 </td>
                <td style="width:15%;">13:30-16:30 </td>
                <td style="width:20%;">离退休处</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29601.html" title="中国航天科工集团第二研究院" target="_blank">中国航天科工集团第二研究院</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29601" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月10日 </td>
                <td style="width:15%;">14:00-16:00 </td>
                <td style="width:20%;">J-601</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29600.html" title="中国电子科技集团公司第二十研究所" target="_blank">中国电子科技集团公司第二十研究所</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29600" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月10日 </td>
                <td style="width:15%;">19:00-21:00 </td>
                <td style="width:20%;">J-608</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29664.html" title="泰瑞达（上海）有限公司" target="_blank">泰瑞达（上海）有限公司</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29664" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月10日 </td>
                <td style="width:15%;">19:00-21:00 </td>
                <td style="width:20%;">J-114</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29602.html" title="瑞晟微电子（苏州）有限公司" target="_blank">瑞晟微电子（苏州）有限公司</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29602" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月10日 </td>
                <td style="width:15%;">19:00-21:00 </td>
                <td style="width:20%;">J-601</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29623.html" title="好赞移动科技有限公司" target="_blank">好赞移动科技有限公司</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29623" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月11日 </td>
                <td style="width:15%;">9:00-12:00 </td>
                <td style="width:20%;">J-114</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29616.html" title="北京兆易创新科技股份有限公司" target="_blank">北京兆易创新科技股份有限公司</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29616" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月11日 </td>
                <td style="width:15%;">19:00-21:00 </td>
                <td style="width:20%;">J-114</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29603.html" title="北京数码视讯集团" target="_blank">北京数码视讯集团</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29603" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月12日 </td>
                <td style="width:15%;">9:00-12:00 </td>
                <td style="width:20%;">J-114</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29640.html" title="中国航天科技集团公司第八研究院" target="_blank">中国航天科技集团公司第八研究院</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29640" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月12日 </td>
                <td style="width:15%;">19:00-21:00 </td>
                <td style="width:20%;">大礼堂</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29611.html" title="中兴通讯股份有限公司" target="_blank">中兴通讯股份有限公司</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29611" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月13日 </td>
                <td style="width:15%;">9:00-12:00 </td>
                <td style="width:20%;">离退休处</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29605.html" title="陕西军工组团" target="_blank">陕西军工组团</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29605" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月13日 </td>
                <td style="width:15%;">15:00-17:00 </td>
                <td style="width:20%;">J-408</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29696.html" title="中国电子科技集团公司第十研究所" target="_blank">中国电子科技集团公司第十研究所</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29696" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月13日 </td>
                <td style="width:15%;">16:30-18:30 </td>
                <td style="width:20%;">J-114</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29641.html" title="珠海全志科技股份有限公司" target="_blank">珠海全志科技股份有限公司</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29641" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月13日 </td>
                <td style="width:15%;">19:00-21:00 </td>
                <td style="width:20%;">J-114</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29647.html" title="酷派集团" target="_blank">酷派集团</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29647" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月14日 </td>
                <td style="width:15%;">9:00-12:00 </td>
                <td style="width:20%;">J-605</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29670.html" title="中国航天科工集团第十研究院" target="_blank">中国航天科工集团第十研究院</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29670" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月14日 </td>
                <td style="width:15%;">9:30-11:30 </td>
                <td style="width:20%;">J-601</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29642.html" title="中国电子科技集团第五十四研究所" target="_blank">中国电子科技集团第五十四研究所</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29642" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月14日 </td>
                <td style="width:15%;">14:00-16:00 </td>
                <td style="width:20%;">J-601</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29643.html" title="南京誉葆科技有限公司" target="_blank">南京誉葆科技有限公司</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29643" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月14日 </td>
                <td style="width:15%;">14:00-16:00 </td>
                <td style="width:20%;">J-604</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29692.html" title="北京未尔锐创科技有限公司" target="_blank">北京未尔锐创科技有限公司</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29692" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月14日 </td>
                <td style="width:15%;">14:00-16:00 </td>
                <td style="width:20%;">J-608</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29686.html" title="深圳市金溢科技股份有限公司" target="_blank">深圳市金溢科技股份有限公司</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29686" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月14日 </td>
                <td style="width:15%;">15:30-17:30 </td>
                <td style="width:20%;">离退休处</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29644.html" title="中国航天科工集团第四研究院" target="_blank">中国航天科工集团第四研究院</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29644" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月14日 </td>
                <td style="width:15%;">19:00-21:00 </td>
                <td style="width:20%;">J-601</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29646.html" title="三快科技(美团)" target="_blank">三快科技(美团)</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29646" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月15日 </td>
                <td style="width:15%;">14:00-16:00 </td>
                <td style="width:20%;">大礼堂</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29660.html" title="展讯通信有限公司" target="_blank">展讯通信有限公司</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29660" type='text/javascript' language="javascript"></script></td>
              </tr><tr>
                <td style="width:15%;">15年09月15日 </td>
                <td style="width:15%;">14:00-16:00 </td>
                <td style="width:20%;">J-601</td>
                <td style="width:35%;"><a href="/html/zpxx/bxqzph/29695.html" title="深圳市汇顶科技股份有限公司（技术交流会）" target="_blank">深圳市汇顶科技股份有限公司（技术交流会）</a> </td>
                <td style="width:15%;"><script src="/plus/count.php?memo=yes&aid=29695" type='text/javascript' language="javascript"></script></td>
              </tr>
            </table>
		</div>
	</div>
<script type="text/javascript">
	$(function(){
		$(".labels .badge").click(function(){
			var keyw = $(this).text().trim();
			$('#stype').val('title');
			$("#keyword").val(keyw)
			console.log($("#keyword").val());
			$("#subm").trigger("click");
		});
		$('#school').click(function(){
			var keyword = $(this).text().trim();
			$('#stype').val('school');
			$("#keyword").val(keyword)
			$("#subm").trigger("click");
		})
	})

</script>
	<%- include footer%>
</body>
</html>