header{
	height: 200px;
}
.info{

}
a{
	text-decoration: none;
}
.info:hover{
	background-color: #CCFFFF;
	/*border-radius: 5em;*/
}
.labels{
	margin-top:40px;
}
.tagBall{
    width: 200px;
    height: 200px;
    margin:10px auto;
    position: relative;
}
.tag{
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-family: "微软雅黑";
    font-weight: bold;
}
.tag:hover{border:1px solid #666;}
