header{
	height: 200px;
}
.info{

}
a{
	text-decoration: none;
}
.info:hover{
	background-color: #CCFFFF;
	/*border-radius: 5em;*/
}
.hot-badge{
	border:0px solid red;
	height: 300px;
	margin-top:70px;
	padding-bottom: 20px;
}
.hb-title{
	border-bottom:1px solid grey;
	padding-bottom: 5px;
}